@import url("./variables.css");
@import url("./reset.css");

body {
  font-family: "Jost", sans-serif;
  color: var(--black);
  width: 100%;
  height: 100vh;
  background: var(--gray);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
  border: 3px solid var(--gray);
}

.app {
  width: 1200px;
  min-height: 80vh;
  margin: 10vh 0;
  background: #fff;
  box-shadow: 4px 4px 8px 0px rgba(32, 40, 47, 0.2);
  padding: 32px 40px 32px 48px;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.logo-img {
  width: 48px;
  aspect-ratio: 1/1;
}

.logo-text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}

.logo-span {
  color: var(--border);
  font-size: 14px;
  line-height: 1.2;
}

.cart {
  position: relative;
}

.cart-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  padding: 8px 16px;
  border-radius: 48px;
  background: var(--blue);
  color: var(--white);
  transition: 0.2s ease;
}

.cart-btn-item {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn-item svg {
  font-size: 18px;
}

.cart-btn:hover {
  background: var(--hover-blue);
  cursor: pointer;
}

.cart-list {
  padding: 8px;
  border: 1px solid var(--light-gray);
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--white);
  top: 48px;
  right: 0;
}

.cart-item {
  padding: 4px 0;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 40px 200px 72px 108px;
  align-items: center;
}

.cart-item-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.cart-item-count {
  text-align: center;
}

.cart-item-price {
  text-align: center;
  font-weight: 500;
  color: var(--blue);
}

.cart-header {
  font-weight: 500;
  margin-bottom: 8px;
}

.cart-header > div:nth-child(3),
.cart-header > div:last-child {
  text-align: center;
}

.categories {
  padding: 36px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.categories-btn {
  padding: 10px 20px;
  border-radius: 18px;
  background: var(--light-gray);
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  transition: 0.2s ease;
}

.categories-btn:hover {
  background-color: var(--border);
  color: #fff;
  cursor: pointer;
}

.categories-btn__active {
  background: var(--blue);
  color: #fff;
}

.categories-btn__active:hover {
  background-color: var(--blue);
  color: #fff;
  cursor: default;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.card {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--light-gray);
}

.card-img img {
  width: 100%;
}

.card-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

.card-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}

.card-price span {
  font-weight: 400;
  color: var(--blue);
  font-size: 20px;
  line-height: 24px;
}

.card-add-btn {
  padding: 6px 0;
  width: 100%;
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--blue);
  color: var(--white);
  transition: 0.2s ease;
}

.card-add-btn:hover {
  cursor: pointer;
  background: var(--hover-blue);
}

.card-btn {
  padding: 6px 16px;
  width: 100%;
  border-radius: 56px;
  border: 1px solid var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-btn-manage {
  background: var(--white);
  height: 23px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  transition: 0.2s ease;
}

.card-btn-manage:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* Loader */
.loader {
  width: 100px;
  height: 100px;
  border: 10px solid var(--blue);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-container {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: rgb(180, 34, 34);
}
